@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.active {
  color: #fff;
  /* border-bottom: thin solid #fff; */
}

.costPrice {
  background: #fff;
  width: fit-content;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px 0px #ccc;
  position: relative;
  left: 20%;
  margin: auto;
  bottom: 5%;
  border-radius: 10px;
}

.ddfLogo {
  /* max-width: 15%; */
  border-radius: 50%;
}
.navBarLogo {
  max-width: 5%;
}
.bg-customNav {
  background-color: #020c4d;
  color: #fd9e1b;
}
.CategorieSlider .swiper-slide {
  box-shadow: 1px 1px 1px 1px #ccc;
}
